body {
  --color-background: #000000;
  --color-text: #ffffff;
  font-size: 24px;
  background: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
}

.spaced {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

a:active {
  color: cyan;
}
a:visited {
  color: green;
}
