body {
  --color-background: #000000;
  --color-text: #ffffff;
  font-size: 24px;
  background: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
}

.spaced {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

a:active {
  color: cyan;
}
a:visited {
  color: green;
}

button {
  -webkit-appearance: none;
}

/* https://www.bestcssbuttongenerator.com/#/19 */

button {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:9px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
button:active {
	position:relative;
	top:1px;
}
